/* * {
    border: 1px solid green;
} */

body {
    min-height: 100vh;
    margin: 0;
}

/* header section */

.header {
    display: flex;
    flex-direction: column;
    background-color: #1F2937;
    justify-content: center;
    color: white;
    padding: 20px 80px 80px 80px;
}

.header-items {
    display: flex;
    margin-bottom: 80px;

}

.header-logo {
    flex: 1;
}

ul {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    gap: 18px;
}

a {
    color: white;
    text-decoration: none;
}

.hero {
    display: flex;
}

.hero div {
    flex: 1;
}

.header-logo {
    font-size: 24px;
    color: #F9FAF8
}

.hero-primary {
    font-size: 48px;
    font-weight: bold;
    color: #F9FAF8;
}

.hero-secondary,
ul li {
    font-size: 18px;
    color: #E5E7EB
}

button {
    background-color: #3882F6;
    color: white;
    padding: 8px;
    margin-top: 8px;
}

.hero-right {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: gray;
}

.image-placeholder {
    display: flex;
    justify-content: center;
}



/* info section */

.info {
    display: flex;
    flex-direction: column;
    margin-top: 12px;
}

.info-header {
    text-align: center;
    font-size: 36px;
    font-weight: bold;
    color: #1F2937;
    margin-bottom: 12px;
}

.info-items {
    display: flex;
    justify-content: center;
    gap: 24px;
}

.item-image,
.image-text {
    width: 100px;
    height: 100px;
}

.item-image {
    border: 1px solid #3882F6;
    
}

.image-text {
    font-size: 18px;
    color: gray;
    margin-top: 12px;
    text-align: center;
    
}


/* quote section */

.quote {
    display: flex;
    flex-direction: column;
    background-color: #E5E7EB;
    align-items: center
}

.quote-container {
    width: 600px;
    padding: 60px 0;
}

.quote-text {
    font-size: 36px;
    font-weight: lighter;
    font-style: italic;
    color: #1F2937;
    align-self: center;
    text-align: center;
}

.quote-author {
    text-align: right;
    font-weight: bold;
}





